.AppContent {
  padding: 0 20vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.9em;
}

@media (max-width: 600px) {
  .AppContent {
    display: flex;
    padding: 0 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}